{{!-- <p>{{#each template as |template|}}</p> --}}
{{!-- <div class="w-full">
    <h4><a href="/template/{{template.id}}">{{template.subject}}</a></h4>
</div>
{{/each}} --}}
<a href="/template/{{template.id}}">
  <p>{{template.id}}</p>
<p>{{template.recipient}}</p>
<p>{{template.subject}}</p>
<p>{{template.username}}</p>
</a>
{{!-- {{log painting level="info"}} --}}

